[submodule "fitnesse"]
	path = fitnesse
	url = https://github.com/liberty/fitnesse.git
[submodule "fitnesse-rc"]
	path = fitnesse-rc
	url = https://github.com/liberty/fitnesse-rc.git
[submodule "fitnesse-teamcity"]
	path = fitnesse-teamcity
	url = https://github.com/liberty/fitnesse-teamcity.git
